.img-center {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  object-position: center; /* Centers the image */
}

.zoom-effect {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.2); /* Zoom in the image */
}

.card {
  overflow: hidden; /* Ensure the zoom effect doesn't go outside the card */
}


